*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: lightgrey;
}
header{
    width: 100%;
    background-color: white;
    
}
#logo{
    height: 80px;
    vertical-align: middle;
}
h1{
    display: inline;
    vertical-align: middle;
    font-size: 3em;
}
.container{
    width: 1000px;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
}
#container-button{
    padding: 20px 30px;
    width: 100%;
    height: 8%;
}
.button{
    
    
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
#blue{
    background-color: dodgerblue;
    color: white;
}
main{
    border-top: 2px solid grey;
}
#container-task{
    margin: 40px 25px;
   

}
ul{
    list-style-type: none;
    margin-top: 20px;
}
.checkmark{
    display: inline-block;
    color: green;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50%;
    text-align:center;
    margin-right: 5px;
}
.label{
    display: inline-block;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;

}
#label-viola{
    background-color: indigo;
    color: white;
}
#label-green{
    background-color: rgb(84, 233, 25);
    color: white;

}
#label-orange{
    background-color: rgb(235, 136, 23);
    color: white;
}
#label-magenta{
    background-color: rgb(247, 16, 189);
    color: white;
}
.cross{
    display: inline-block;
    color: red;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align:center;
    margin-right: 5px;
}
li{
    margin-top: 10px;
}
